<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>ToDo, ToDo, ToDo-ToDo-ToDo List</title>

    <script src="bower_components/angular/angular.min.js"></script>
    <!-- Bootstrap Core CSS -->
    <link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="style.css">

</head>

<body ng-app="myApp">

<!-- Create container to hold h1 and subtext -->
    <div id="topOfPage" class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h1>To Do List</h1>
                <p class="lead">What do you have to do?</p>
            </div>
        </div>
    </div>

<!-- create container to hold the main content of the page -->
    <div ng-controller="MainCtrl" id="content" class="container"> 

<!-- panel on the left side of the page with add ToDo options -->
        <div id="panelPrimary" class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Add ToDo Item</h3>
            </div>
            <div class="panel-body">
                <form class="form-horizontal">
                    <div class="form-group">

                    <!-- input box with ng-model-->
                            <div class="col-sm-10">
                                <input ng-model="text" class="form-control" placeholder="What do you have to do?">
                            </div>
                    </div>
                    <div class="form-group">

                    <!-- dropdwon styled in bootstrap, clickable anchors to sort user input by priority(color) -->
                            <div class="col-sm-10">
                                <div class="dropdown">
                                  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
                                    Priority
                                    <span class="caret"></span>
                                  </button>
                                  <ul class="dropdown-menu">
                                    <li><a ng-click="high()">High</a></li>
                                    <li><a ng-click="medium()">Medium</a></li>
                                    <li><a ng-click="low()">Low</a></li>
                                  </ul>
                                </div>
                            </div>
                    </div>
               </form>
            </div>
        </div>

<!-- list to be populated by selection of priority -->
        <div id="list" class="container">
            <div id="buttons">
                 <button ng-click="alphabet()" class="btn btn-default">Sort Alphabetically</button>
                 <button ng-click="betabet()" class="btn btn-default">Sort High to Low</button>
                 <button ng-click="charliebet()" class="btn btn-default">Sort Low to High</button>
            </div>
            <ul class="list-group" ng-show="alph">
                <li ng-repeat="todo in todos | orderBy:'+'" class="list-group-item">{{todo}}</li>
            </ul>
            <ul class="list-group" ng-show="beta">
                <li ng-repeat="todoH in todosH" class="list-group-item list-group-item-danger">{{todoH}}</li>
                <li ng-repeat="todoM in todosM" class="list-group-item list-group-item-info">{{todoM}}</li>
                <li ng-repeat="todoL in todosL" class="list-group-item list-group-item-success">{{todoL}}</li>
            </ul>
            <ul class="list-group" ng-show="charlie">
                <li ng-repeat="todoL in todosL" class="list-group-item list-group-item-success">{{todoL}}</li>
                <li ng-repeat="todoM in todosM" class="list-group-item list-group-item-info">{{todoM}}</li>
                <li ng-repeat="todoH in todosH" class="list-group-item list-group-item-danger">{{todoH}}</li>
            </ul>
        </div>

    </div> <!--id="content" -->

    <!-- jQuery Version 1.11.1 -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="index.js"></script>


</body>

</html>